In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.optimizers import Adam

In [2]:
# Load the ECG dataset
data = pd.read_csv("ecg_autoencoder_dataset.csv", header=None)  # adjust separator if needed

print("Shape of dataset:", data.shape)
print("Sample data:\n", data.head())

Shape of dataset: (4998, 1)
Sample data:
                                                    0
0  -0.11252183,-2.8272038,-3.7738969,-4.3497511,-...
1  -1.1008778,-3.9968398,-4.2858426,-4.5065789,-4...
2  -0.56708802,-2.5934502,-3.8742297,-4.5840949,-...
3  0.49047253,-1.9144071,-3.6163638,-4.3188235,-4...
4  0.80023202,-0.87425189,-2.3847613,-3.9732924,-...

In [3]:
data

                                                      0
0     -0.11252183,-2.8272038,-3.7738969,-4.3497511,-...
1     -1.1008778,-3.9968398,-4.2858426,-4.5065789,-4...
2     -0.56708802,-2.5934502,-3.8742297,-4.5840949,-...
3     0.49047253,-1.9144071,-3.6163638,-4.3188235,-4...
4     0.80023202,-0.87425189,-2.3847613,-3.9732924,-...
...                                                 ...
4993  0.60855822,-0.3356508,-0.99094811,-1.7841535,-...
4994  -2.0604019,-2.8601161,-3.4050738,-3.7487191,-3...
4995  -1.1229693,-2.2529248,-2.8676281,-3.3586047,-3...
4996  -0.54770461,-1.8895451,-2.8397786,-3.4579122,-...
4997  -1.3517791,-2.2090058,-2.5202247,-3.0614751,-3...

[4998 rows x 1 columns]